@import 'customBootstrap';
@import '~bootstrap/scss/bootstrap';

* {
  cursor: default;
  -webkit-app-region: no-drag;
}

body,
html {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  -webkit-app-region: drag !important;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #222;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #222;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #eea65b;
}
